
{% include 'header.html' %}



<h1 class="tit">Tabla de empleados</h1>

    <table class="tablaEmpleados">
        <thead>
            <tr class="Encabezado">
                <th><h4>#</h4></th>
                <th><h4>Foto</h4></th>
                <th><h4>Nombre</h4></th>
                <th><h4>Correo</h4></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>
                    <img width="100" src="fotodeusuario/{{empleado[3]}}" alt="foto de perfil">
                </td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
                <td>
                    <a id="MostrarMas" class="btn btn-success" href="/mostrarMas/{{empleado[0]}}">Mostrar más</a>
                </td>
                <td>
                    <a class="btn btn-warning" href="/modify/{{empleado[0]}}">Editar</a>
                    
                    <a id="btnConfirm" class="btn btn-danger" href="/delete/{{empleado[0]}}">Borrar</a>
                </td>
            </tr>
            
            
            {% endfor %}
        </tbody>
    </table>
    
    {% include 'footer.html' %}